body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    box-sizing: border-box;
}
header{
    background-color: #5a3d7b;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    font-size: 35px;
    font-weight: bold;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
button {
  font: inherit;
  background-color: #f0f0f0;
  border: 0;
  color: #242424;
  border-radius: 0.5em;
  font-size: 1.10rem;
  padding: 0.375em 1em;
  font-weight: 600;
  text-shadow: 0 0.0625em 0 #fff;
  box-shadow: inset 0 0.0625em 0 0 #f4f4f4, 0 0.0625em 0 0 #efefef,
    0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede,
    0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #cecece;
  transition: 0.15s ease;
  cursor: pointer;
}
button:active {
  translate: 0 0.225em;
  box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef,
    0 0.0625em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0, 0 0.125em 0 0 #dedede,
    0 0.2em 0 0 #dcdcdc, 0 0.225em 0 0 #cacaca, 0 0.225em 0.375em 0 #cecece;
}
.hero {
  display: flex;
  background-color: #000000;
  padding: 40px;
  border-radius: 15px;
  margin: 20px;
  align-items: center;
}
.hero-contenido{
  flex: 1;
}
.hero-contenido h1{
  font-size: 36px;
  color: #5a3d7b;
}
.hero-contenido p{
  color: #7a5f91;
  font-size: 20px;
}
.hero-contenido .read-more{
  background-color: #7a5f91;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}
.hero-imagen{
  flex: 1;
  text-align: right;
}
.hero-imagen img{

  max-width: 100%;
  border-radius: 15px;
}

.galeria {
  display: flex;
  width: 500px;
  height: 400px;
}
.galeria img{
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}
.galeria img:hover{
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%); 
}
.links {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.links ul{
  list-style: none;
  padding: 0;
  
}
.links ul li{
  margin-bottom: 10px;
  
}
.links ul li a{
  line-height: 1;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.35em;
  padding: 0.75em 1em;
  padding-right: 1.25em;
  color: #fff;
  border: 1px solid transparent;
  font-weight: 700;
  border-radius: 2em;
  font-size: 1rem;
  box-shadow: 0 0.7em 1.5em -0.5em hsla(249, 62%, 51%, 0.745);
  transition: transform 0.3s;

  background: linear-gradient(
    90deg,
    rgba(77, 54, 208, 1) 0%,
    rgba(132, 116, 254, 1) 100%
  );
  
}
.extra-links{
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.extra-links .link-box{
  background-color: #e4d3ef;
  color: #5a3d7b;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  flex: 1;
  font-weight: bold;
}
.hola {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.gusta button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 25px 20px 22px;
  box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: #e8e8e8;
  border-color: #ffe2e2;
  border-style: solid;
  border-width: 9px;
  border-radius: 35px;
  font-size: 25px;
  cursor: pointer;
  font-weight: 900;
  color: rgb(134, 124, 124);
  font-family: monospace;
  transition:
    transform 400ms cubic-bezier(0.68, -0.55, 0.27, 2.5),
    border-color 400ms ease-in-out,
    background-color 400ms ease-in-out;
  word-spacing: -2px;
}

@keyframes movingBorders {
  0% {
    border-color: #fce4e4;
  }

  50% {
    border-color: #ffd8d8;
  }

  90% {
    border-color: #fce4e4;
  }
}

.gusta button:hover {
  background-color: #eee;
  transform: scale(105%);
  animation: movingBorders 3s infinite;
}

.gusta button svg {
  margin-right: 11px;
  fill: rgb(255, 110, 110);
  transition: opacity 100ms ease-in-out;
}

.filled {
  position: absolute;
  opacity: 0;
  top: 20px;
  left: 22px;
}

@keyframes beatingHeart {
  0% {
    transform: scale(1);
  }

  15% {
    transform: scale(1.15);
  }

  30% {
    transform: scale(1);
  }

  45% {
    transform: scale(1.15);
  }

  60% {
    transform: scale(1);
  }
}

button:hover .empty {
  opacity: 0;
}

button:hover .filled {
  opacity: 1;
  animation: beatingHeart 1.2s infinite;
}
.card {
  width: auto;
  height:  300px;
  border-radius: 4px;
  background: #ffffff00;
  display: flex;
  gap: 5px;
  padding: .4em;
}

.card p {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: all .5s;
  background: #ffffff00;
  border: 1px solid #ff5a91;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card p:hover {
  flex: 4;
}

.card p span {
  min-width: 14em;
  padding: .5em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all .5s;
  text-transform: uppercase;
  color: #ff568e;
  letter-spacing: .1em;
}

.card p:hover span {
  transform: rotate(0);
}

.contenedor{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

}